<!DOCTYPE html>
<html lang="en">
    <head>
	<meta charset="utf-8">
	<meta http-equiv="Expires" content="-10">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<meta name="description" content="">
	<meta name="author" content="">
	<link rel="shortcut icon" href="../../docs-assets/ico/favicon.png">

	<title>Youbet home</title>

	<!-- Bootstrap core CSS -->
	<link href="/bootstrap/css/bootstrap.css" rel="stylesheet">

	<!-- Custom styles for this template -->
	<link href="/css/navbar-fixed-top.css" rel="stylesheet">

	<!-- Custom styles for charting -->
	<link href="/css/chart.css" rel="stylesheet">

	<!-- Just for debugging purposes. Don't actually copy this line! -->
	<!--[if lt IE 9]><script src="../../docs-assets/js/ie8-responsive-file-warning.js"></script><![endif]-->

	<!-- HTML5 shim and Respond.js IE8 support of HTML5 elements and media queries -->
	<!--[if lt IE 9]>
	<script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
	<script src="https://oss.maxcdn.com/libs/respond.js/1.3.0/respond.min.js"></script>
	<![endif]-->
    </head>

    <body>

	<!-- Fixed navbar -->
	<div class="navbar navbar-default navbar-fixed-top" role="navigation">
	    <div class="container">
		<div class="navbar-header">
		    <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
			<span class="sr-only">Toggle navigation</span>
			<span class="icon-bar"></span>
			<span class="icon-bar"></span>
			<span class="icon-bar"></span>
		    </button>
		    <a class="navbar-brand" href="#">Youbet</a>
		</div>
		<div class="navbar-collapse collapse">
		    <ul class="nav navbar-nav">
			<li class="active"><a href="#">New bet</a></li>
			<li class="dropdown">
			<a href="#" class="dropdown-toggle" data-toggle="dropdown">Active<b class="caret"></b></a>
			<ul class="dropdown-menu" id="active-dropdown">
			    <% for (var i = 0; i < active.length; i++) {%>
			    <li><a href=<%="/home/"+active[i]%>><%= active[i] %></a></li>
			    <% } %>
			</ul>
			</li>
			<li class="dropdown">
			<a href="#" class="dropdown-toggle" data-toggle="dropdown">Expired<b class="caret"></b></a>
			<ul class="dropdown-menu" id="expired-dropdown">
			    <% for (var i = 0; i < expired.length; i++) {%>
			    <li><a href=<%="/home/"+expired[i]%>><%= expired[i] %></a></li>
			    <% } %>
			</ul>
			</li>
			<li class="dropdown">
			<a href="#" class="dropdown-toggle" data-toggle="dropdown">Settled<b class="caret"></b></a>
			<ul class="dropdown-menu" id="settled-dropdown">
			    <% for (var i = 0; i < settled.length; i++) {%>
			    <li><a href=<%="/home/"+settled[i]%>><%= settled[i] %></a></li>
			    <% } %>
			</ul>
			</li>
		    </ul>
		    <ul class="nav navbar-nav navbar-right">
			<li><p class="navbar-text"><%=welcome_msg%></p>
			<li><a href="/logout">Logout</a></li>
		    </ul>
		</div><!--/.nav-collapse -->
	    </div>
	</div>

	<div class="container">
	    <h1 id="bet-header">
	    </h1>
	    <div class="row">
		<div class="col-md-8">
		    <div class="panel-group" id="more-info-pgroup">
			<div class="panel panel-default">
			    <div class="panel-heading">
				<h4 class="panel-title">
				    <a data-toggle="collapse" data-parent="#more-info-pgroup" href="#more-info">More info</a>
				</h4>
			    </div>
			    <div id="more-info" class="panel-collapse collapse in">
				<div class="panel-body">
				    <div class="row">
					<div class="col-md-6">
					    <div class="well" id="bet-description">
					    </div>
					</div>
					<div class="col-md-6">
					    <ul class="list-group">
						<li class="list-group-item" id="bet-min-val"></li>
						<li class="list-group-item" id="bet-max-val"></li>
						<li class="list-group-item" id="bet-tick-size"></li>
					    </ul>
					</div>
				    </div>
				</div>
			    </div> <!-- more-info panel -->
			</div> <!-- more info panel -->

			<div class="panel panel-default">
			    <div class="panel-heading">
				<h4 class="panel-title">
				    Market
				</h4>
			    </div>
			    <div id="market" class="panel-body">
				<svg class="chart"></svg>
			    </div> <!-- market panel body -->
			</div> <!-- market panel -->
		    </div> <!-- panel-group -->
		</div> <!-- col-md-8 -->

		<div class="col-md-4">
		    <% if (bet_is_host) { %>
		    <div class="input-group" id="invite">
			<input type="text" class="form-control" id="input-invite">
			<span class="input-group-btn">
			    <button class="btn btn-default" type="button" id="button-invite">Invite</button>
			</span>
		    </div>
		    <hr>
		    <% } %>
		    <div class="input-group">
			<span class="input-group-addon">Price</span>
			<input type="text" class="form-control" id="input-price">
		    </div>
		    <div class="input-group">
			<span class="input-group-addon">Size</span>
			<input type="text" class="form-control" id="input-size">
		    </div>
		    <div class="container">
			<button type="button" class="btn btn-default" id="button-bid">Bid</button>
			<button type="button" class="btn btn-default" id="button-offer">Offer</button>
		    </div>
		    <hr>
		    <ul class="list-group" id="order-list"></ul>
		    <hr>
		    <ul class="list-group" id="trade-list"></ul>
		</div> <!-- col-md-4 -->
	    </div> <!-- row -->
	</div>
    </div>

</div> <!-- /container -->

<div class="footer">
    <p>&copy; Yuhan Zhang 2014</p>
</div>

<!-- Bootstrap core JavaScript
================================================== -->
<!-- Placed at the end of the document so the pages load faster -->
<script src="/jquery/jquery.js"></script>
<script src="/bootstrap/js/bootstrap.min.js"></script>
<script src="/socket.io/socket.io.js"></script>
<script src="http://d3js.org/d3.v3.min.js"></script>

<script src="/js/chart.js"></script>
<script src="/js/bet.js"></script>

</body>
</html>
